.wrapper{
display: flex;
justify-content: space-around;
width: 1920px;
height: 723px;;
background-color: #f9f9f9;
}
.element-2{
color: #000000;
font-family: "Proxima Nova";
font-size: 16px;
font-weight: 300;
}
.element-3{
color: #000000;
font-family: "Proxima Nova";
font-size: 18px;
font-weight: 700;
}
.element-4{
width: 51px;    height: 9px;
color: #23bac1;
font-family: "Proxima Nova";
font-size: 13px;
font-weight: 700;
text-transform: uppercase;
}


